*{
    font-family: 'Roboto', sans-serif!important;
}
body{
    background-color: #fafafa;
}

.topbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.topbar h1{
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}
.conteudo{
    margin-top: 69px;
    margin-bottom: 69px;
}
button{
    height: 54px;
    background-color:#EC362D;
    border: none;
    border-radius: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left:30px;
    padding-right: 30px;
    height: 54px;
    color: #FFF5F4;
    cursor: pointer;
}

.telaTeste{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: blueviolet;
}

/* TELA 3 COMEÇA AQUI*/

.tela3{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.tela3 h1{
    font-style: normal;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
}
.tela3 .titulo{
    font-size: 23px;
    line-height: 23px;
    margin-top: 2em;
    margin-bottom: 1.8em;
}
.tela3 input{
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 100%;
    height: 46px;
    margin-bottom:9px;
    box-sizing: border-box;
    padding-left: 14px;
    outline: none;
}
.tela3 ::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    }
.areaPergunta {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid black;
}
.caixaTexto{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding-top: 21px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom:12px;
}
.tela3 button{
    margin-top: 3.2em;
}

.tela31 .caixaTexto{
    height: 256px;
}

.tela3 .subtitulo{
    font-size: 20px;
    margin-top: 9px;
    margin-bottom: 12px;
}
.tela32 .caixaTexto{
    height: 825px;
    position: relative;
    top:-825px;
    left: 0;
    transition: all 300ms linear;
}
.divisao{
    margin-bottom: 28px;
}
.caixinhaDeTexto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 600px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
}
.escondido {
    display: none;
  }

.caixaTexto.mostrar{
    top:0;
}
@media (max-width: 614px) {
    .caixaTexto{
        width: 100%;
    }
    .tela3 button{
        margin-top: 2em;
    }
    .areaPergunta{
        width: 100%;
    }
}