*{
    font-family: 'Roboto', sans-serif!important;
}
body{
    background-color: #fafafa;
}

.topbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.topbar h1{
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}
.conteudo{
    margin-top: 69px;
    margin-bottom: 69px;
}
button{
    height: 54px;
    background-color:#EC362D;
    border: none;
    border-radius: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left:30px;
    padding-right: 30px;
    height: 54px;
    color: #FFF5F4;
    cursor: pointer;
}
/* TELA 2 COMEÇA AQUI*/
.tela2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    width: 100%;
    height: 142px;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://picsum.photos/id/237/200/300');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-banner{
    position: absolute;
    color: #FFFFFF;
}
.caixaPergunta{
    width: 760px;
    background-color: #FFFFFF;
    padding: 15px;
    box-sizing: border-box;
}
.titulo-caixaPergunta{
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cor1{
    background-color: #434CA0;
}
.cor2{
    background-color: #A0438D;
}
.imagensDaPergunta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}
.opcao{
    display: flex;
    flex-direction: column;
    width: 330px;
    margin-bottom: 15px;
    margin-right: 5px;
}
.opcao img{
    object-fit: cover;
    margin-bottom: 5px;
}
.resultado-Quiz{
    display: flex;
    flex-direction: column;
    width: 760px;
    background-color: #FFFFFF;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 44px;
}
.titulo-caixaResultado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99px;
    background-color: #EC362D;
}
.conteudosResultado{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.conteudosResultado img{
 width: 50%;
 height: 50%;
 object-fit: cover;
}
.textoResultado{
    width: 40%;
    height: 50%;
}
/* TELA 1 COMEÇA AQUI*/

.tela1{
    display:flex;
    flex-direction:column;
    align-items: center;
    /*margin-left: 194px;
    margin-right: 180px;*/
}

.seus-quizzes{
    width: 1050px;
    margin-top: 138px;
}

.todos-quizzes{
    width: 1050px;
    /*margin-top: 48px;*/
    margin: 48px auto;
}

.cabecalho-area{
    display: flex;
    align-items: center;
}

.titulo-area{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-right: 17px;
    
}

.botao-adicionar ion-icon{
    width: 31px;
    height: 30px;
    color: #EC362D;

}

.quiz-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quiz{
    position: relative;
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(image.png);
    border-radius: 5px;
    /*margin-right: 15px;*/
    margin-top: 13px;
}

.quiz img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.titulo-quiz{
    position: absolute;
    width: 309px;
    height: 54px;
    bottom: 0px;
    left: 17px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    word-break: break-all;
}

.sem-quizz{
    /*margin-right: 15px;*/
    height: 181px;
    border: 1px dashed red;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aviso{
    width: 250px;
    margin-top: 7px;
    height: 107px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    display: flex;
    align-items: center;
    text-align: center;
}

.moldura{
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-criar{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    cursor: pointer;
}


/* TELA 3 COMEÇA AQUI*/

.tela3{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.tela3 h1{
    font-style: normal;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
}
.tela3 .titulo{
    font-size: 23px;
    line-height: 23px;
    margin-top: 2em;
    margin-bottom: 1.8em;
}
.tela3 input, textarea{
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 100%;
    height: 46px;
    margin-bottom:9px;
    box-sizing: border-box;
    padding-left: 14px;
    outline: none;
}

.tela3 textarea{
    height: 177px;
}

.tela3 ::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    }

.areaPergunta {
    overflow: hidden;
    height: 74px;
    margin-bottom: 22px;
    box-sizing: border-box;
}
.areaNivel {
    overflow: hidden;
    height: 74px;
    margin-bottom: 22px;
    box-sizing: border-box;
}
.caixaTexto{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding-top: 21px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom:12px;
}
.tela3 button{
    margin-top: 3.2em;
}

.tela3 .subtitulo{
    font-size: 20px;
    margin-top: 9px;
    margin-bottom: 30px;
}
.tela32 .caixaTexto{
    position: relative;
    top:-825px;
    left: 0;
    transition: all 300ms linear;
    padding-top: 0;
}
.tela33 .caixaTexto{
    position: relative;
    top:-439px;
    left: 0;
    transition: all 300ms linear;
    padding-top: 0;
}
.divisao{
    margin-bottom: 28px;
}
.caixinhaDeTexto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 600px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
}
.escondido {
    display: none;
  }

.caixaTexto.mostrar{
    top:0;
}
.areaPergunta.aumentar{
    height: 900px;
}
.areaNivel.aumentar{
    height: 439px;
}

.tela34{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tela34 h1{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.acessar-quizz{
    width: 220.32px;
    height: 44px;
    background: #EC362D;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.acessar-quizz p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    
}

.voltar-home{
    width: 219.64px;
    height: 44px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #818181;
}

@media (max-width: 1100px){
    .tela1{
        /*margin-left: 18px;
        margin-right: 17px;*/
        display: flex;
        flex-direction: column;
    }

    .seus-quizzes{
        margin-top: 31px;
    }

    /*.sem-quizz{
        margin-right: 0px;
    }*/

    .quiz-area{
        flex-direction: column;
        align-items: center;
        
    }

    .quiz{
        width: 100%;
        /*margin-right: 0px;*/
    }
    .todos-quizzes{
        width: 340px;
        /*margin-top: 48px;*/
    }
    .seus-quizzes{
        width: 340px;
    }
    .caixaPergunta{
        width: 100%;
    }

    /* TELA 3*/
    .caixaTexto{
        width: 100%;
    }
    .tela3 button{
        margin-top: 2em;
    }
    .areaPergunta{
        width: 100%;
    }
    .areaNivel{
    width: 100%;}

    .caixinhaDeTexto{
    width: 100%;
    }

    /*TELA 2*/
    .resultado-Quiz{
        width: 100%;
    }
    .conteudosResultado{
        display: flex;
        flex-direction: column;
    }
    .conteudosResultado img{
     width: 100%;
     object-fit: cover;
    }
    .textoResultado{
        width: 100%;
    }
    .opcao{
        width: 165px;
    }
}